# wjy3
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
APScheduler==3.9.1
pyodbc==4.0.34
pydantic==1.10.2
SQLAlchemy
python-multipart
./whl/wjy3-1.7.1-py3-none-any.whl

# fastapi
numpy==1.23.1
dataclasses>=0.6
peft>=0.6.2
tqdm>=4.62.1
uvicorn>=0.21.1
fastapi>=0.95.1
starlette>=0.26.1
schedule

# wer
jiwer

# fun ASR (in DOCKERFILE)
modelscope==1.18.0
funasr==1.1.6
huggingface_hub==0.24.6

